body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align:left;}

/* Slideshow container */
.slideshow-container {
  width: 550px;
  height: 450px;
  position: absolute;
  margin: auto;
  display: block;
  align-items: center;
  -ms-flex-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #15141400;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.mySlides fade{
    width: 450px;
    height: 550px;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: right;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.page:after {
  content: "";
  display: table;
  clear: both;
}
  #addToCartButton,#vw{
      margin: 20px;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      width: 158px;
      height: 50px;
      border-radius: 10px;
      align-items: center;
    }
  
  
  .detail{
    position: sticky;
  }
  .tab3{
    display: inline-block;
    margin-bottom: 150px;
}
.tab2{
  display: inline-block;
  margin-left: 150px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.checked{
  color: orange;
}
#img1{
  align-items:end;
}